*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(135deg, #DFF6FF, #47B5FF);
    color: black;
    display: flex;
    min-height: 100vh;
    margin: 0;
}
/* .img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
} */

/* .img-box img{
    width: 100%;
} */
.profile{
    display: flex;
    align-items: center;
    gap: 15px;
}
.profile h2{
    font-size: 20px;
    color: darkblue;
}
.profile h2 span{
    color: #1363DF;
    font-size: 16px;
    font-weight: bolder;
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #DFF6FF, #47b5ff);
    width: 0px;
    height: calc(100vh - 40px);
    padding-block: 20px;
    padding-inline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 15px;
    transition: width 500ms, padding-inline 500ms;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
body.menu-shown .menu {
    width: 290px;
    padding-inline: 20px;
}
.btn1 {
    position: fixed;
    top: 20px;
    right: 10px;
    font-size: 20px;
    border-radius: 20%;
    border-color: white;
    /* background-color: #06283D; */
    padding: 2px;
    width: 40px;
    height: 40px;
    z-index: 3;
    transition: right 500ms;
}
body.menu-shown .btn1 {
    right: 270px;
}
.menu button i{
    border-radius: 50%;
    font-size: 25px;
    width: 100%;
    height: 100%;
    color: white;
}
.menu ul{
    direction: ltr;
    list-style: none;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.menu ul > *{
    direction: rtl;
}
.menu :is(ul li, div) a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: #06283D;
}

.menu ul li ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu :is(ul li, div) a p i{
    margin-right: 40px;
}
.menu ul li a:hover, .active, .active2{
    background-color: white;
    color: #1363DF;
    box-shadow: 2px 2px 2px black;
    font-weight: bolder;
}
.logout a{
    font-weight: bolder;
    background-color: red;
    color: white !important;
    box-shadow: 2px 2px 2px black;
}
ul li a i{
    font-size: 20px;
}
.content{
    margin: 10px 10px;
}
.title-info{
    margin-top: 7.5px;
    margin-right: 50px;
    background: linear-gradient(135deg,#47B5FF, #DFF6FF);
    color: #1363DF;
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #06283D;
    transition: margin-right 500ms;
}
body.menu-shown .title-info {
    margin-right: 0;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.data-info .box{
    position: relative;
    margin-top: 70px;
    margin-right: 10px;
    background-color: white;
    color: #06283D;
    height: 150px;
    flex-basis: 200px;
    flex-grow: 1;
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 2px #06283D;
    /* transition: transform 500ms, color 500ms, background-color 500ms; */
}
.data-info .box .notification {
    --size: 20px;

    width: var(--size);
    height: var(--size);
    padding: 10px;
    border-radius: 100%;
    background-color: red;
    display: flex;
    place-content: center;
    place-items: center;
    position: absolute;
    font-weight: bold;
    color: white;
    top: calc(-1 * var(--size) / 2);
    right: calc(-1 * var(--size) / 2);
}
.data-info .box:hover{
    background: whitesmoke;
    color: white;
    transform: scale(1.04);
}
.data-info .box i{
    font-size: 40px;
    font-weight: bolder;
    color: #06283D;
    /* transition: color 500ms; */
}
.data-info .box:hover i{
    color: black;
}
.data-info .box .data{
    align-items: center;
}
.data-info .box .data p{
    text-decoration: none;
    font-size: 22px;
    margin-right: 12px;
    font-weight: bolder;
}
.data-info .box .data p a{
    text-decoration: none;
    color: black;
}