*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(100deg, #DFF6FF, #47B5FF);
    color: black;
    min-height: 100vh;
    display: flex;
    margin: 0;
}
.table-container{
    min-width: 100%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 60%;
}
.heading{
    font-size: 40px;
    text-align: center;
    color: #1363DF;
    font-style: italic;
    margin-bottom: 40px;
}
.table{
    width: 85%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.table thead{
    background-color: #1363DF;
    color: white;
}
.table thead tr th{
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    opacity: 1;
    vertical-align: top;
    border: 1px solid white;
}
/* .table tbody tr:nth-child(even){
    background: darkblue;
} */

.menu {
    height: 100vh !important;
}

body.menu-shown .menu {
    width: 330px !important;
}

.table tbody tr td{
    font-size: 22px;
    font-weight: normal;
    color: black;
    padding: 8px;
    text-align: center;
    /* background: linear-gradient(135deg, #DFF6FF, #47B5FF); */
    border: 1px solid white;
}
.table tbody tr td {
    background-color: #DFF6FF;
}

.table tbody tr:nth-child(even) td {
    background-color: #47b5ff9a;
}

.table tbody tr td .btn{
    width: 100px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #1363DF;
    font-weight: bolder;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid none;
    font-size: 18px;
    opacity: 1;
}
.table tbody tr td .btn1{
    width: 100px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #1363DF;
    font-weight: bolder;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid none;
    font-size: 18px;
    opacity: 1;
}
.design-form{
    display: flex;
    flex-direction: column;
    gap: min(40px, 30vh);
}
.design-form form {
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    gap: min(40px, 5vw);
    padding: 5px;
    width: 100%;
}
.design-form form > * {
    padding: max(5px, 1vw);
}
.design-form form label {
    text-align: center;
}
@media (max-width:768px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        font-size: 20px;
        /* background-color: #1363DF; */
        color: #1363DF;
        padding: 5px;
        border-radius: 8px;
        text-align: left;
    }
}